<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="articles">
    <div class="articles__main">
        <app-bigcard 
            Id="1"
            photoCover="https://th.bing.com/th/id/OIP.4R3d41Nl1Fkz2Qo_4zIwcgHaEK?w=254&h=180&c=7&r=0&o=5&pid=1.7"
            cardTitle="TEM NOVIDADE NA ÁREA!"
            cardDescription="Uma nova historia promete deixar fãs malucos">
        </app-bigcard>
    </div>
    <div class="articles__others">
        <app-smallcard 
        Id="2"
            photoCard="https://th.bing.com/th/id/OIP._DrnfEXWiHt1FiKf587xnAHaE8?w=251&h=180&c=7&r=0&o=5&pid=1.7" 
            cardTitle="Temos um novo jogo no mercado, esqueça tudo que você já sabe sobre eles..">
        </app-smallcard>
        <app-smallcard 
            Id="3"
            photoCard="https://th.bing.com/th/id/OIP.Gu1JFO71Hw__nyLIIeRalwHaEK?w=321&h=180&c=7&r=0&o=5&pid=1.7" 
            cardTitle="O povo do ceu está de volta e Jake Sully terá uma nova batalha, mas agora ele não conhece as armas dos inimigos">
        </app-smallcard>
        <app-smallcard 
            Id="4"
            photoCard="https://th.bing.com/th/id/OIP.zfPsHu4h2zH4r5fwnGXIwgHaD4?w=301&h=180&c=7&r=0&o=5&pid=1.7" 
            cardTitle="Uma nova chance para um novo final, HBO não descarta regravação">
        </app-smallcard>
    </div>

</div>
