.container__smallcard {
    width: 400px;
    height: 115px;

}

.container__smallcard__content{
    display: flex;
    flex-direction: row;
}

.small-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    width: 230px;
    min-width: 230px;
}

.separator {
    margin-bottom: 10px;
}